<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:motan="http://api.weibo.com/schema/motan"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://api.weibo.com/schema/motan
            http://api.weibo.com/schema/motan.xsd">

    <motan:protocol id="motan" name="motan" />

    <!--使用Consul作为注册中心-->
    <motan:registry regProtocol="consul" name="my_consul" address="consul_port:port"/>

    <!--使用Zookeeper作为注册中心-->
    <motan:registry regProtocol="#{motan['protocol']}" name="zk" address="#{motan['host']}"/>

    <!-- 通用配置，多个rpc服务使用相同的基础配置. group和module定义具体的服务池。export格式为“protocol id:提供服务的端口” -->
    <motan:basicService id="serviceBasicConfig" export="motan:20910" group="motan-demo-rpc" module="motan-demo-rpc" registry="zk"/>

    <motan:service interface="com.bytebeats.rpc.api.DemoService" ref="demoService"
                   basicService="serviceBasicConfig"/>
  
</beans>