<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beanshttp://www.springframework.org/schema/beans/spring-beans.xsdhttp://code.alibabatech.com/schema/dubbohttp://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="dubbo-provider-app"  />
 
 	<!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry id="zk_registry" address="zookeeper://127.0.0.1:2181" />
 
 	<!-- 多协议配置 -->
    <dubbo:protocol name="dubbo" port="20880" />
    <dubbo:protocol name="rmi" port="20980" />
    
    <!-- 使用dubbo协议暴露服务 -->
    <dubbo:service interface="com.bytebeats.rpc.api.DemoService" ref="demoService" protocol="dubbo" />
    <!-- 使用rmi协议暴露服务 -->
 	<dubbo:service interface="com.bytebeats.rpc.api.HelloService" ref="helloService" protocol="rmi"  />
 	
 
</beans>